<nav class="navbar bg-white border-bottom border-secondary border-1">
  <ul class="nav">
    <li class="nav-item"><a routerLink="/dispatch" class="nav-link text-black" li
        style="padding-left: 0px; vertical-align: middle;">
        <img src="./assets/flag.png" class="USflag">
        Ship To: United States
      </a></li>

    <li class="nav-item"><a class="nav-link text-black" routerLink="/start-the-journey">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-question-circle"
          viewBox="0 0 19 19" svg style="text-align: left; vertical-align:middle">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
          <path
            d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
        </svg>
        Can we help you?
      </a></li>

    <li class="nav-item text-black" a style="text-decoration: none; margin-top: 8px; margin-left: 9px;">
      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-phone"
        viewBox="0 0 16 16" svg style="margin-top: 0px">
        <path
          d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z" />
        <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
      </svg>
      +1.866. VUITTON
    </li>

    <li class="nav-item"><a class="nav-link text-black" routerLink="/sustainability" a
        style="margin-left:9px; vertical-align: middle;">
        Sustainability
      </a></li>
  </ul>

  <!-- This is the four icons to the right on the top nav-bar, 2 are links and 2 are off canvas -->
  <ul class="nav" ul style="text-decoration: none;">
    <li class="nav-item " li style="text-decoration: none; vertical-align: middle; justify-content: end;">
      <a class="navbtn" href="http://localhost:4200/stores"><button type="button" class="btn btn-white">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pin-map-fill"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M3.1 11.2a.5.5 0 0 1 .4-.2H6a.5.5 0 0 1 0 1H3.75L1.5 15h13l-2.25-3H10a.5.5 0 0 1 0-1h2.5a.5.5 0 0 1 .4.2l3 4a.5.5 0 0 1-.4.8H.5a.5.5 0 0 1-.4-.8l3-4z" />
            <path fill-rule="evenodd" d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999z" />
          </svg>
        </button></a>

      <a class="navbtn" href="http://localhost:4200/wishlist"><button type="button" class="btn btn-white">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart"
            viewBox="0 0 16 16">
            <path
              d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
          </svg>
        </button></a>


      <!-- Where the identification icon (the person) is created and used as an offcanvas link -->
      <a class="btn btn-white" data-bs-toggle="offcanvas" href="#offcanvasAccount" role="button"
        aria-controls="offcanvasAccount">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person"
          viewBox="0 0 16 16">
          <path
            d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
        </svg>
      </a>
      <!-- Where the header for the account offcanvas portion starts -->
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasAccount" aria-labelledby="offcanvasAccountLabel">
        <div class="offcanvasAccount-header border-bottom border-secondary">
          <h2 class="offcanvas-title" id="offcanvasAccountLabel" h2
            style="margin-top:11px; margin-left: 30px; word-spacing: 60px;">
            IDENTIFICATION
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" button
              style="justify-content: end; padding-right: 0px;"></button>
          </h2>
        </div>
        <!-- Creating the second heading on the offcanvas -->
        <div class="offcanvassecondheading border-bottom border-secondary">
          <h4 class="offcanvasheading2" h4 style="margin-top: 60px; margin-left: 30px">MEMBERS PLEASE SIGN IN</h4>
          <!-- Creating the login and password boxes used in the off canvas -->
          <form class="identificationOffCanvasUser/Pass" form style="margin-top: 30px;">
            <!-- Username/email -->
            <div class="loginBox">
              <label for="usernameInput" class="form-label" label style="margin-left: 30px;">Login*</label>
              <input type="email" class="form-control" input style="margin-left: 30px;" id="userEmail"
                aria-describedby="emailHelp">
            </div>
            <!-- Password -->
            <div class="passwordBox">
              <label for="userPassword" class="form-label" label
                style="margin-top: 20px; margin-left: 30px;">Password*</label>
              <input type="password" class="form-control" input style="margin-left: 30px;" id="userPassword">
            </div>
            <!-- Sign In Button -->
            <button type="submit" class="d-grid gap-2 col-6 mx-auto btn-dark" button
              style="margin-top: 30px; margin-bottom: 30px;">Sign In</button>
          </form>
        </div>
        <!-- Creating the lower part of the account/identification off canvas -->
        <div class="offcanvasDontHaveAccount">
          <h4 class="offcanvasheading3" h4 style="margin-top: 60px; margin-left: 30px">DON'T HAVE AN ACCOUNT</h4>

          <body class="lowerIdentOffCanvasBody" body style="margin-top: 15px; margin-left: 30px;"> Enjoy added benefits
            and richer experience by creating a personal account.</body>
          <button type="button" data-bs-toggle="offcanvas" href="http://localhost:4200/createAccount"
            class="d-grid gap-2 col-6 mx-auto btn-dark" button style="margin-top: 30px; margin-bottom: 30px;">Create My
            LV Account</button>
        </div>
      </div>

      <a class="btn btn-white" data-bs-toggle="offcanvas" href="#offcanvasBag" role="button"
        aria-controls="offcanvasBag">
        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-bag"
          viewBox="0 0 16 16">
          <path
            d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
        </svg>
      </a>
      <!-- Where the header for the shopping bag offcanvas portion starts -->
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasBag" aria-labelledby="offcanvasBagLabel">
        <div class="offcanvasBag-header border-bottom border-secondary">
          <h3 class="offcanvas-title" id="offcanvasBagLabel" h2 style="margin-top:11px; margin-left: 15px;">
            YOUR SHOPPING BAG
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </h3>
        </div>
        <!-- Creating the lower part of the shopping bag off canvas -->
        <div class="offcanvasTotalAndBag" div style="margin-left: 30px; text-align: left;">
          <h4 class="offcanvasheading4" h4 style="margin-top: 90px;">TOTAL</h4>
          <button type="button" data-bs-dismiss="offcanvas" href="http://localhost:4200/cart"
            class="d-grid btn-lg gap-2 col-10 mx-auto btn-dark" button
            style="margin-top: 30px; margin-bottom: 30px;">View Your Shopping Cart</button>
        </div>
      </div>
    </li>
  </ul>
</nav>