.container{
    position: relative;
}
.vidwords{
    z-index: 1;
    top: 75%;
    left: 15px;
    color: white;
    width: 700px;
    position: absolute;
    text-align: left;
}
.container2 {
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: 1;
    top:85%;
    left:90%;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 70px;
    border-color: white;
    padding: 15px;
    background-color: black;
}
.pauseVid{
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
}
.container3{
    height: 50px;
    width: 700px;
    z-index: 2;
    top: 85%;
    left: 15px;
}
.shopDiscoverBtns{
    display: flex;
    column-gap: 20px;
}
.shopNowBtn{
    width: 240px;
    height: 40px;
    border-radius: 0%;
    background-color: white;
    font-size: 12px;
}
.shopNowBtn:hover{
    opacity: 50%;
}
.DiscoverBtn{
    width: 240px;
    height: 40px;
    border-radius: 0%;
    background-color:transparent;
    font-size: 12px;
    opacity: 60%;
}
.DiscoverBtn:hover{
    opacity: 100%;
}


