.container{
    color: white;
    text-align: center;
    position: relative;
}
.prodPic1{
    height: 570px;
}
.prodOverlayContainer{
    z-index: 1;
    position: absolute;
    top:75%;
    left:15px;
    height: 90px;
    text-align: left;
}
.bagheader{
    color: white;
}
.shopNowBtn{
    width: 240px;
    height: 40px;
    border-radius: 0%;
    background-color: white;
    font-size: 12px;
}
.shopNowBtn:hover{
    opacity: 50%;
}