<div class= "row" style="background-color: thistle;">
    <!-- header -->
    <p>placeholder</p> 
</div>
<div class="row">
    <div class="col" style="background-color: teal;">
        <!-- americas -->
        placeholder
    </div>
    <div class="col" style="background-color:violet">
        placeholder
    </div>
    <div class="col" style="background-color:gold">
        placeholder
    </div>
    <div class="col" style="background-color:gray">
        placeholder
    </div>
    <div class="col" style="background-color:honeydew">
        placeholder
    </div>
</div>

