<app-navigation></app-navigation>
<div class= "row" style="background-color: thistle;">
    <!-- header -->
    <p>placeholder</p> 
</div>
<div class= "row" style="background-color:lightslategray">
    <!-- header -->
    <p>placeholder</p> 
</div>
<div class="row">
    <div class="col" style="background-color:tomato">
        left margin placeholder
    </div>
    <div class="col-10" style="background-color:lightgreen">
        placeholder
    </div>
    <div class="col" style="background-color:tomato">
        right margin placeholder
    </div>
</div>