<app-top-nav-bar></app-top-nav-bar>
<app-second-top-nav-bar></app-second-top-nav-bar>
<div class="container-fluid">
    <div class="row">
        <div class="col">
           <!-- Left Margin -->
        </div>
        <div class="col-9 text-center">
            <app-main-video></app-main-video>
        </div>
        <div class="col">
            <!-- Right page margin -->
        </div>
    </div>
    <div class="row" style="margin-top: 50px;">
        <div class="col">
           <!-- Left Margin -->
        </div>
        <div class="col-9 text-center">
            <app-product-card></app-product-card>
        </div>
        <div class="col">
            <!-- Right page margin -->
        </div>
    </div>
</div>


