<app-navigation></app-navigation>
<div class="row border-bottom">
    <div class="col m-4">
        <h2>NEW THIS SEASON</h2>
    </div>
</div>
<div class="row border-bottom">
    <div class="col m-4">
        placholder
    </div>
</div>
<div class="row justify-content-center m-3">
    <div class = "col d-flex justify-content-center gy-5" *ngFor= "let product of cards">
    <app-prod-card name= {{product.name}} price= {{product.price}} imagePath= {{product.imagePath}}></app-prod-card>
    </div>
</div>


